
  .lispan{
    display: inline-block;
    width: 15em;

    font-size: 15px;
  }

  .lidiv{
    padding: 2px;
  }

  #allClearSpan{
    padding-left: 10px;
    vertical-align: 3px;
  }

  .deletedWord{
    text-decoration: line-through;
  }

  .Listdiv{
    float: left;
  }

  .nothingNG{
    font-size: 15px;
  }
