
  .lispan{
    display: inline-block;
    width: 250px;
    font-size: 15px;
  }

  .lidiv{
    padding: 2px;
  }

  #allClearSpan{
    padding-left: 10px;
    vertical-align: 3px;
  }

  .deletedWord{
    text-decoration: line-through;
  }

  .Listdiv{
    float: left;
  }

  .NGli{
    text-font-size: 15px;
    width: 300px;
  }

  .inline{
    font-size: 15px;
  }
